<h1 style="color:rgb(5, 32, 16); font-size: 40px; text-align: center; margin-top: 50px;"><strong>ALL PRODUCTS</strong></h1>
<div class="products-body row">
    <div *ngFor="let product of products" style="width: 25rem;">
        <div class="card">
            <div class="card-body">
                <img src={{product.thumbnail}} class="card-img-top" alt="...">

                <h5 class="card-title" style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis; max-width:
        100ch; padding-bottom:4px"><strong>{{product.title}}</strong></h5>
               
                <p class="card-text" style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis; max-width:
        100ch;">Description:{{product.description}}</p>
                <p class="card-text">Type: <strong>{{product.productType}}</strong> </p>
                <p class="card-text">Category: <strong>{{product.category_name}} </strong></p>
                <p class="card-text">Author: <strong>{{product.author_id}}</strong> </p>
                <p class="card-text" >Price: <strong style="color:red;font-size:24px;">{{product.price}} LEI</strong></p>
                <button class="btn btn-primary cardstyle">Add To Cart</button>
                <div>
                    <button type="button" (click)="deleteProduct(product.id)"
                        class="btn btn-danger deletebtn">Delete</button>
                </div>
            </div>
        </div>

    </div>
</div>