
.cardstyle{ // add to cart
    margin-top:20px;
    margin-left:35%;
    font-size: 22px;
}
.card{
    margin-top:70px;
    margin-left:100px;
    width: 300px;
    height: 400px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.686);
  }
  .card img {
    margin: 0;
    width: 300px;
    height: 400px;  
    object-fit: cover;
  }


.form-control{
  border-radius: 3px;
  width: 500px;
  margin-left: 39%;
  margin-top:20px;
  font-size:1.4rem;

}

.search{
  padding: 8px;
  border-radius: 6px;
  margin-left: 45%;
  margin-top:20px;
  
}







