

.cardstyle{ // add to cart
    margin-top:20px;
    margin-left:2px;
    font-size: 20px;
}
.card{
    margin-top:100px;
    margin-left:70px;
    padding: 16px;
    text-align: center;
    background-color: #ece7f5;     
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(130, 18, 167, 0.686);
 
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.737);
  }
.card-text{
    font-size: 20px;
    text-align: justify;
    
}
.card-title{
    font-size:21px;
    text-align: justify;
    margin-top:13px;
    color:rgb(81, 0, 255);
}
.deletebtn{
    margin-top:15px;
    font-size:18px;
}





