<nav>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/product">Products</a></li>

    <li>
      <a>Brand</a>
      <ul>
        <li><a href="{{location}}?&author=apple">Apple</a></li>
        <li><a href="{{location}}?&author=beko">Beko</a></li>
        <li><a href="{{location}}?&author=bosch">Bosch</a></li>
        <li><a href="{{location}}?&author=huawei">Huawei</a></li>
        <li><a href="{{location}}?&author=hyperx">HyperX</a></li>
        <li><a href="{{location}}?&author=logitech">Logitech</a></li>
        <li><a href="{{location}}?&author=razer">Razer</a></li>
        <li><a href="{{location}}?&author=samsung">Samsung</a></li>

      </ul>
    </li>


    <li>
      <a href="{{location}}?category=electronics">Electronics</a>
      <ul>
        <li><a href="{{location}}?&type=laptop">Laptops</a></li>
        <li><a href="{{location}}?&type=telephone">Telephones</a></li>
        <li><a href="{{location}}?&type=tablet">Tablets</a></li>

      </ul>
    </li>

    <li>
      <a href="{{location}}?category=gaming">Gaming</a>
      <ul>
        <li><a href="{{location}}?&type=keyboard">Keyboards</a></li>
        <li><a href="{{location}}?&type=headphones">Headphones</a></li>
        <li><a href="{{location}}?&type=mouse">Mouse</a></li>

      </ul>
    </li>

    <li>
      <a href="{{location}}?category=electrocasnics">Electrocasnics</a>
      <ul>
        <li><a href="{{location}}?&type=fridge">Fridges</a></li>
        <li><a href="{{location}}?&type=washing_machine">Washing Machines</a></li>

      </ul>
    </li>
    
    <div *ngIf="authenticated=='false'">
      <li>
        <a href="/login">Log In</a>
        <!-- if pt log out ngIf -->
      </li>
    </div>

    <div *ngIf="authenticated=='true'">
      <li>
        <a href="/logout">Log Out</a>
      </li>
    </div>

    <li>
      <a href="/footer">Contact</a>

    </li>
    <li>
      <a href="/cart">Your Cart</a>

    </li>
    <div *ngIf="user.role == 'ROLE_ADMIN'">
      <li>
        <a href="/add">Add Product</a>

      </li>
    </div>
  </ul>

</nav>