
<nav>
 
  <ul >
    <li><a routerLink="/home"><b>Home</b></a></li>
    <li><a routerLink="/product"><b>Products</b></a></li>

    <li>
      <a><b>Brand</b></a>
      <ul>
        <li><a routerLink="/product" [queryParams]="{'author':'apple'}">Apple</a></li>
        <li><a routerLink="/product" [queryParams]="{'author':'beko'}">Beko</a></li>
        <li><a routerLink="/product" [queryParams]="{'author':'bosch'}">Bosch</a></li>
        <li><a routerLink="/product" [queryParams]="{'author':'huawei'}">Huawei</a></li>
        <li><a routerLink="/product" [queryParams]="{'author':'hyperx'}">HyperX</a></li>
        <li><a routerLink="/product" [queryParams]="{'author':'logitech'}">Logitech</a></li>
        <li><a routerLink="/product" [queryParams]="{'author':'razer'}">Razer</a></li>
        <li><a routerLink="/product" [queryParams]="{'author':'samsung'}">Samsung</a></li>

      </ul>
    </li>


    <li>
      <a routerLink="/product" [queryParams]="{'category': 'electronics'}"><b>Electronics</b></a>
      <ul>
        <li><a routerLink="/product" [queryParams]="{'category': 'electronics', 'productType' : 'laptop'}">Laptops</a></li>
        <li><a routerLink="/product" [queryParams]="{'category': 'electronics', 'productType' : 'telephone'}">Telephones</a></li>
        <li><a routerLink="/product" [queryParams]="{'category': 'electronics', 'productType' : 'tablet'}">Tablets</a></li>

      </ul>
    </li>

    <li>
      <a routerLink="/product" [queryParams]="{'category': 'gaming'}"><b>Gaming</b></a>
      <ul>
        <li><a routerLink="/product" [queryParams]="{'category': 'gaming', 'productType' : 'keyboard'}">Keyboards</a></li>
        <li><a routerLink="/product" [queryParams]="{'category': 'gaming', 'productType' : 'headphones'}">Headphones</a></li>
        <li><a routerLink="/product" [queryParams]="{'category': 'gaming', 'productType' : 'mouse'}">Mouse</a></li>

      </ul>
    </li>

    <li>
      <a routerLink="/product" [queryParams]="{'category': 'appliances'}"><b>Appliances</b></a>
      <ul>
        <li><a routerLink="/product" [queryParams]="{'category': 'appliances', 'productType': 'fridge'}">Fridges</a></li>
        <li><a routerLink="/product" [queryParams]="{'category': 'appliances', 'productType': 'washing_machine'}">Washing Machines</a></li>

      </ul>
    </li>
    
    <div *ngIf="authenticated=='false'">
      <li>
        <a routerLink="/login"><b>LogIn</b></a>
      </li>
    </div>

    <div *ngIf="authenticated=='true'">
      <li>
        <a routerLink="/logout" ><b>LogOut</b></a>
        
      </li>
    </div>

    <div *ngIf="user.role == 'ROLE_ADMIN'">
      <li>
        <a routerLink="/add"><b style="white-space: nowrap;">Add Product</b></a>

      </li>
    </div>
    <div *ngIf="authenticated=='true'">
      <li>
        <a routerLink=""><b style="white-space: nowrap;">My account</b></a>
        <ul>
          <li><a routerLink="/orders" style="white-space: nowrap;">My orders</a></li>
          <li><a routerLink="/user-edit"  style="white-space: nowrap;">Edit</a></li>
          </ul>
      </li>
    </div>
    <div *ngIf="authenticated=='true'">
      <li>
        <a routerLink = "/cart"> <img src="../assets/img/trolley.png" style="width: 30px; margin-left: 10px;"></a>
      </li>
    </div>
    
    
  </ul>

</nav>
