#searchbar{
    margin-left:400px;
 
}
#searchbtn{
    margin-right:400px;
}
.search{
    margin-top:10px;
}
#user-cart{
    margin-right:30px;

}
.form-control{
    border-radius: 3px;
    width: 600px;
    margin-left: 60px;
    margin-top:14px;
}
#loupe{
    margin-top: 21px;
    position: absolute;
    right:48%;

}