
<header >
  <div class="navbar navbar-dark bg-light" >
    <div class="navbar-brand d-flex" >
      <img src="../assets/img/girl2.png" style="margin-left:20px;">
        <b style="margin-left:20px; font-family:'Brush Script MT', cursive; font-size: 50px; color:rgb(199, 77, 163); margin-top:23px">
          Dani's store</b>  
          <div class="form-group" >
            <input type="text"  class ="form-control" placeholder="Căutare produs">
          </div>   
        
    </div>

  </div>
</header>