img{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.buttoncart{
    color:rgb(99, 15, 65);
    margin-left:1350px;
    font-size:0.9vw;
    
   
}
#greeting{
    margin-top: 20px;
    margin-left: 1000px;
    font-size: 1.5rem;
    color:rgb(8, 113, 64);
}
#store_name{
    margin-left:20px;
    font-family:'Brush Script MT', cursive;
    font-size: 50px;
    color:rgb(8, 113, 64);
}