
    <div class="text-center text-dark p-3" id="contact" style="background-color:rgb(0, 0, 0); font-size: 1.2rem; margin-top:50px">
      <strong><p style="font-size:1.7rem; color:rgb(255, 255, 255);;">Contact</p></strong>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="color:white">
      <br>     
        <p><i class="fas fa-home me-3 text-secondary">Country:</i> România</p>
       
        <br>
        <p><i class="fas fa-home me-3 text-secondary">Location:</i> Iași
        <p>
          <br>
          <i class="fas fa-envelope me-3 text-secondary">Email:</i> 
          danisthings@gmail.com
        </p>
        <img src="../assets/img/tel.png" style="width: 20px; padding-bottom: 7px">
        <p><i class="fas fa-phone me-3 text-secondary">Phone number:</i> 0773 930 920,</p>
        <img src="../assets/img/fixtel.png" style="width: 20px; padding-bottom: 7px">
        <p><i class="fas fa-print me-3 text-secondary">Or:</i>  0232 222 444</p>
     
    <footer class="bg-light text-center text-white">
      
        <section class="mb-4" style="background-color: rgb(255, 255, 255);;"> 
          <a
          class="btn btn-link btn-floating mx1"
          target="_blank"
          href="https://www.facebook.com"
          role="button">
          <img src="../assets/img/fb2.png" id="login-images">
        </a>
          <a
          class="btn btn-link btn-floating mx1"
          target="_blank"
          href="https://twitter.com"
          role="button">
          <img src="../assets/img/twitter2.png" id="login-images">
        </a>  
          <a
          class="btn btn-link btn-floating mx1"
          target="_blank"
          href="https://www.google.com"
          role="button">
          <img src="../assets/img/email2.png" id="login-images">
        </a>  
          <a
          class="btn btn-link btn-floating mx1" 
          target="_blank"
          href="https://www.instagram.com"
          role="button">
          <img src="../assets/img/ig.png" id="login-images">
        </a>
          <a
          class="btn btn-link btn-floating mx1"
          target="_blank"
          href="https://ro.linkedin.com"
          role="button">
          <img src="../assets/img/lin.png" id="login-images">
        </a>
          <a
          class="btn btn-link btn-floating mx1"
          target="_blank"
          href="https://github.com"
          role="button">
          <img src="../assets/img/github2.png" id="login-images">
        </a> 
        </section>
           
  
  
  


   
   