
<div class="welcome">Welcome to Dani's Store!</div> 

    <!--
<h2>
    <b>Aici vei putea găsi:
    </b>
    </h2>
<img src="../assets/img/telicon3.jpg" style="width:250px; margin-left: 30px;margin-right: 550px;">
<img src="../assets/img/laptopicon2.png" style="width: 250px;margin-left: 30px;margin-right: 550px;">
<img src="../assets/img/hdicon.png" style="width: 200px;margin-left: 30px;margin-right: 150px;">
<img src="../assets/img/keybicon.png" style="width: 250px;margin-left: 500px;margin-top:100px">
<img src="../assets/img/electricon.webp" style="width: 300px;margin-left: 520px;margin-top:100px">
</div>
-->