.welcome{
    font-size: 7vw;
    margin-top: 5%;
    font-family:'Brush Script MT';
    color:rgb(5, 11, 6);
    text-align: center;
    background: -webkit-linear-gradient(#000000, #09b63d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
   



 