.price{
    font-size: 1.2rem;
}
.title{
    margin-top: 20px;
    font-size: 1.5rem;
    line-height: 1.2;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.image{
    width: 70%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

#container{
    text-align: center;
}

.deletebtn{
    margin-top: 10px;
}

span {
    display: block;
    overflow: hidden;
    padding: 0px 4px 0px 6px;
}
input {
    width: 70%;
}
.form-label {
    float: left;
}