.tableCart{
   margin-top:40px;
   font-family:'Times New Roman', Times, serif;
   text-align: center;
   font-size: 1.7rem;
   margin-top:100px;
   border: 1px solid #dddddd;
   color:Red;
   background-color: rgb(255, 255, 255);
   text-transform: uppercase;
   
  
}
.orderDetails{
   font-size: 1.5rem;
   font-family:'Times New Roman', Times, serif;
   padding: 10px;
   text-align: center;
   background-color: #efecf9;
   color: rgb(2, 2, 2);
}
