.login-div{
    width: 500px;
    margin-left:37%;
   
}
h2{
    text-align: center;
    padding: 20px;
}
#login-images{
    width: 35px;
}
html{
    background-color:rgb(243, 234, 234);
}
.bg{
    background-color:rgb(243, 234, 234);
}
.notamember{
    margin-left:85px;
}
.title{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
