

.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding:70px;
  
}

.form-content .form-items {
    display: inline-block;
    width: 100%;
    min-width: 740px;

    text-align: left;
 
}

.form-content h3 {
    color: #44092f;
    text-align: left;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-left:220px
    
}
.casuta {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    background-color: #f5e5ed;
    font-size: 20px;
    font-weight: 500;
    margin-top: 16px;
}




