
  #title{
    text-transform: uppercase;
    padding:70px;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif; 
    color:rgb(13, 101, 142);
  }
  .info{
    margin-left: 30px;
    font-size:1.5rem;
    padding-top: 70px;
  }
  .addtocartbtn{
    margin-left: 150px;
    margin-top:30px;
    font-size: 1.5rem;

  }
  .infopage{
    margin-left: 150px;
  }
 
